* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Jura;
}

html,
body {
  height: 100vh;
  width: 100%;
}

.hero {
  width: 100%;
  height: calc(100vh - 4rem);
  display: flex;
  margin-top: 4rem;
  align-self: center;
  justify-content: space-between;
  overflow: hidden;
}

.herotext {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 5rem 0 0 5rem;
}

.herotext h1 {
  font-weight: 800;
  font-size: 7rem;
  color: #fd920f;
  transition: text-shadow 0.1s linear;
  cursor: pointer;
}
.herotext p{
  position: absolute;
  top: 10%;
  left: 6%;
  opacity: 0;
  visibility: hidden;
  font-weight: 500;
  color: gray;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.herotext p span{
  font-weight: 800;
  color: #fd920f;
}
.herotext h1:hover{
  text-shadow: 0 4px 6px rgb(205, 202, 202);
}
.herotext h1:hover ~ p {
  opacity: 1;
  visibility: visible;
}
.herotext h1:active ~ p {
  opacity: 1;
  visibility: visible;
}


.herotext h3 {
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding: 20px 5px 30px 5px;
  color: rgb(95, 94, 94);
}

.herotext .button {
  cursor: pointer;
  height: 3rem;
  width: 10rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  background-color: #fd920f;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  margin: 10px 5px;
  transition: box-shadow 0.2s ease-in-out;
}
.herotext .button:hover {
  background-color: #FF991C;
  color: white;
  box-shadow: 0 4px 14px gray;
}

.heroimg {
  height: 100%;
  width: 30%;
  display: flex;
  position: relative;
}

.heroimg img{
  height: 100%;
  width: 100%;
}

.events {
  height: 30rem;
  width: 100%;
  margin: 0;
  background-color: blueviolet;
}

.member {
  height: 30rem;
  width: 100%;
  background-color: burlywood;
}

.contact {
  height: 35rem;
  width: 100%;
  background-color: chartreuse;
}

.footer {
  height: 18rem;
  width: 100%;
  background-color: rgb(51, 127, 235);
}

@media (max-width: 800px) {
  .hero {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0px;
    height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
    background: url("../Media/Frame.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .heroimg {
    display: none;
  }

  .herotext {
    height: 80%;
    width: 100%;
    display: flex;
    position: relative;
  }

  .herotext h3{
      width: 80%;
  }
}
