main {
  margin-top: 50px;
}

.team-section {
  text-align: center;
  padding: 40px 20px;
}

.team-section h1 {
  font-size: 2.5rem;
  color: rgb(99, 94, 94);
  padding-bottom: 20px;
}
.team-section #H{
  padding-bottom: 30px !important;
}
.mentor-container {
  display: flex;
  gap: 50px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.mentor-card {
  padding: 30px;
  display: flex;
  width: 700px;
  margin: 40px 0;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in;
  background-color: rgb(247, 241, 223);
}
.mentor-img h4 {
  padding-top: 5px;
  font-weight: 400;
  padding-bottom: 8px;
}
.mentor-card i {
  padding: 3px;
}
.team-card i {
  padding: 4px;
}
.mentor-card p {
  height: 100%;
  width: 30rem;
  text-align: justify;
  padding-left: 30px;
  padding-top: 10px;
}

.team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
}

.team-card {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.2s ease-in;
  flex: 1 1 calc(33.33% - 40px);
  max-width: 350px;
  background-color: rgb(247, 241, 223);

}
.team-card p {
  padding-bottom: 10px;
}

.mentor-card img,
.team-card img {
  height: 230px;
  width: 240px;
  border-radius: 50%;
  padding-bottom: 15px;
}
.mentor-card:hover,
.team-card:hover {
  box-shadow: 5px 10px 10px rgb(238, 188, 6);
}

#seinor,#board1{
  margin-bottom: 50px;
}
@media (max-width: 900px) {
  .team-card {
    flex: 1 1 calc(33.33% - 40px);
  background-color: rgb(253, 245, 250);

  }
  .team-container {
    gap: 20px;
  }
  .mentor-card {
    display: block;
    width: 90vw;
    background-color: rgb(253, 245, 250);



  }
  .team-section h1 {
    font-size: 2rem;
    padding-bottom: 0;
  }
  .mentor-container {
    display: flex;
    flex-direction: column;
  }
  .mentor-card i {
    padding-bottom: 20px;
  }
  .mentor-card p {
    width: 100vw;
    display: contents;
    text-align: justify;
    padding: 20px 0 0 0;
  }
}
