h1{
    text-align: center;
    color: orange;
    font-size: 40px;
    font-family: Jura;
}

.MentorPhoto{
    width:100%;
    height: 80%;
    border-radius: 50%;
}

.MentorRow {
    margin-top: -12%;
    display: flex;
    
}

.MentorColumn{
    flex:50%;
    padding: 15%;
    align-content: center;
    justify-content: center;
}

.description{
    display: flex;
    flex:50%;
    margin-bottom: 7%;
}

.description p{
    margin-top: -10%;
    padding: 0 10% 0 10%;

}

.TeamPhoto{
    padding:17%;
    width:100%;
    height: 100%;
    border-radius: 50%;
}
.PhotoColumn{
    flex: 33%;
    padding: 80px;
}
.PhotoRow{
    margin-bottom:3%;
    display:flex;
}

.PhotoColumn1{
    margin: auto;
    flex:100%;
    width: max-content;
    height: max-content;


}
.CEOPhoto{
    width:100%;
    height:100%;
    padding:18%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.PhotoRow{
    display:flex;
}