h1{
    text-align: center;
    color: orange;
    font-size: 40px;
    font-family: Jura;
}

.Mentorphoto{
    margin-top: 100px;
    width:350px;
    height:350px;
    border-radius: 50%;
}

#Ruhul{
    display: flex;


}

#Mick{
    display: flex;
    margin-top: 150px;
    /* margin-left:100px;
    margin-right: 100px ; */
}

.row {
    justify-content: space-between;
    display: flex;
    gap:10px;

}

.column{
    align-content: center;
    margin-right: 200px;
    margin-left: 200px;
    flex:40%;
    padding:10px;
}

.description{
    padding: 50px;
}